DJANGO_SECRET_KEY=_8sm=^ab70gh&gh=g50a5@lvulcch=wpr9algwscq
DEBUG=True

MODEL_PATH=../models/saved_model
TOKENIZER_MODEL=distilbert-base-uncased
MAX_SEQ_LENGTH=128

SLACK_BOT_TOKEN=...
SLACK_ADMIN_CHANNEL_ID=...
DJANGO_API_URL=http://localhost:8000/api
SLACK_SIGNING_SECRET=...

DATABASE_URL=...